*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: gray
}
.okay{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.okay{
  width: 100%;
  background: url(./Component/libery11.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  border: solid black;
  background-size: cover;
  cursor: pointer;
}
.okay h1{
  background-color: black;
  border-radius: 10px;
  color: white;
}
.err{
  background-color: black;
  border-radius: 5px;
  color: red;
  margin-top: 30px;
}
form input{
  width: 31rem;
  padding: 20px;
  border-radius: 20px; 
  margin-top: 30px; 
}
form button{
  padding: 20px;
  border-radius: 8px;
}
.meaning{
  color: black;
  background-color: white;
  width: 70%;
  margin-top: 40px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30rem;
  
}
/* .father{
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.worker{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}
.daughter{
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
.son{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
} */

@media screen and (max-width: 900px){
  form button{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
  }  
  form{
    width: 100%;
  }
  form input{
    width: 100%;
  }
  .okay{
    padding: 20px;
  }
  
}